body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    margin: 0;
}

#signin, #game {
    text-align: center;
}

#signin-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

.row {
    display: flex;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}
